body{
    margin: 0px;
    background-color: rgb(227, 230, 235);
}
p{
    padding: 0px;
    margin: 0px;
}
h1, h2{
    margin: 0px;
}

#header{
    margin: 0px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
}
#show-form-button{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
    border: none;
    border-radius: 5px;
    background-color:rgb(231, 231, 231);;
    margin-top: 40px;
    height: 50px;
    width: 150px;
    font-size: 24px;
} 

#main{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#book-form-dialog{
    height: 260px;
    width: 250px;
    margin-top: 200px;
    padding-bottom: 10px;
    border: 2px solid rgb(177, 176, 176);
}
#book-form-dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}
#book-form-dialog h2{
    margin-bottom: 10px;
}

#book-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#add-book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#book-title, #book-author, #book-pages{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 230px;
    height: 30px;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
}
#book-read-label{
    display: flex;
    align-items: center;
    font-size: 20px;
    display: flex;  
    margin-bottom: 5px;
}
#book-read{
    height: 30px;
    width: 20px;
}
#form-button-container{
    column-gap: 5px;
    display: flex;
}
#form-submit-button, #form-cancel-button{
    border: none;
    color: white;
    flex-grow: 1;
    width: 114px;
    height: 35px;
}
#form-submit-button{
    background-color: rgb(46, 143, 46);
}
#form-cancel-button{
    background-color: rgb(183, 39, 39);
}
#book-grid-container{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
} 
.book-card{
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px ;
    border-radius: 8px ;
    background-color: rgb(231, 231, 231);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
    margin-top: 40px;
    padding: 10px 10px;
    width: 300px;
    min-width: 300px;
    height: 200px;
} 
